<!doctype html>
<html>
  <head>
    <script>
      window.requestURL = $REQUEST_URL;
      window.redirectOnNotFound = $REDIRECT_NOT_FOUND;
      window.errorMsg = $REQUEST_ERR_MSG;
    </script>
  </head>
  <body style="font-family: sans-serif">
    <h2>Archived Page Not Found</h2>
    <p id="msg"></p>
    <p>
      <code id="url" style="word-break: break-all; font-size: larger"></code>
    </p>
    <p id="#redirectMessage" style="display: none">
      Redirecting to live page now... (If this URL is a file download, the
      download should have started).
    </p>
    <script>
      if (window.redirectOnNotFound) {
        document.querySelector("redirectMessage").style.display = "initial";
        window.top.location.href = window.requestURL;
      }
    </script>
    <p id="goback" style="display: none">
      <a href="#" onclick="window.history.back()">Go Back</a> to the previous
      page.
    </p>

    <p>
      <a id="livelink" target="_blank" href="">Load the live page</a> in a new
      tab (or download the file, if this URL points to a file).
    </p>

    <script>
      document.querySelector("#url").innerText = window.requestURL;
      document.querySelector("#msg").innerText = window.errorMsg;
      document.querySelector("#livelink").href = window.requestURL;
      let isTop = true;
      try {
        if (window.parent._WB_wombat_location) {
          isTop = false;
        }
      } catch (e) {}
      if (isTop) {
        document.querySelector("#goback").style.display = "";

        window.parent.postMessage(
          {
            wb_type: "archive-not-found",
            url: window.requestURL,
            ts: $REQUEST_TS,
          },
          "*",
        );
      }
    </script>
  </body>
</html>
